[user]
    name = Ivan Zyranau
    email = ewancoder@gmail.com
	signingkey = A57116EE67BF8798!
[core]
    editor = vim
[merge]
    tool = vimdiff
[rerere]
    enabled = true
[includeIf "gitdir:~/work/"]
    path = .gitconfig-work
[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper = !/usr/bin/gh auth git-credential
[commit]
	gpgsign = true
[tag]
	gpgsign = true
