#!/bin/sh
#This file is sourced by ~/.xinitrc OR by DM

#Move pulseaudio here because now it's not AUTOSPAWNING
cp ~/.asoundrc_pulse ~/.asoundrc
pulseaudio --start &

#This is done by DM automatically, but I need it EXPLICITLY to load all before my other applications (like xscreensaver)
xrdb -merge ~/.Xresources &

#Composition manager (can break some DE)
if [ "`pacman -Q nvidia`" == "" ]; then
    compton &
else
    compton --backend glx --paint-on-overlay --vsync opengl-swc &
fi

#Transparency rules
devilspie &

#Shield for my eyes
#xflux -l 53.9 -g 27.5667 -k 4500 &
redshift &

#Grab mouse and hide it
unclutter -grab &

#Automatically mount USB drives [allow only one copy of devmon]
ps -C devmon > /dev/null 2>&1 || devmon --ignore-device /dev/sdb --ignore-device /dev/sdc --ignore-device /dev/sdd --ignore-device /dev/sde --exec-on-drive '/home/ewancoder/bin/usb' &

#Turn off power saving (screen blanking)
xset -dpms s off

#Language switcher
gxkb &

# Remap keys
~/bin/startkeys
