URxvt*scrollBar: false
URxvt*saveLines: 24000
URxvt*background: #000000
URxvt*foreground: #c2e2a2
URxvt*.shading: 20
URxvt*font:     -*-terminus-medium-r-*-*-16-*-*-*-*-*-*-*

URxvt.perl-ext: default,url-select
URxvt.keysym.M-l: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/chromium
URxvt.url-select.underline: true
URxvt.colorUL: #4682B4
